<app-commands
  [IsPlay]="IsPlay"
  [EndGame]="EndGame"
  [countdown]="countdown"
  (startGame)="startGame()"
  (resetGame)="RestGame()"
  (resetPlayerSequence)="ResetPlayerSequence()"
  (checkSequence)="IsGood()"
></app-commands>

<app-score
  [countdown]="countdown"
  [message]="message"
  [score]="score"
></app-score>

@if (EndGame){
  <dialog id="my_modal_1" class="modal" open>
    <div class="modal-box">
      <h3 class="text-lg font-bold">Hello!</h3>
      <p class="py-4 flex justify-center">
        <button class="btn">
          Score
          <div class="badge badge-secondary">{{score}}</div>
        </button>
      </p>
    <div class="flex justify-center">
      @if (score <= 50){
        <label class="swap text-6xl">
          <div class="swap-off">🥶</div>
        </label>
      }@else{
        <label class="swap swap-active text-6xl">
          <div class="swap-on">🥳</div>
        </label>
      }

    </div>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>
}


<div class="border-2 border-sky-500 p-5 grid gap-4 boxPlay" [ngStyle]="{
  'grid-template-columns': 'repeat(' + getColumnCount() + ', 1fr)'
}">

  <ng-container *ngIf="StartAnswers; else memorizeSequence">
    <app-box-color

      *ngFor="let color of randomizedSequence"
      (click)="handlePlayerClick(color)"
      [color]="color"
      [Border]="Border"
      [width]="getDynamicSize() - (getDynamicSize() * 0.35)"
      [height]="getDynamicSize() - (getDynamicSize() * 0.35)"
      [isRandomized]="true"
      [playerSequence]="gameService.playerSequence"

    >
    </app-box-color>
  </ng-container>

  <ng-template #memorizeSequence>
    <app-box-color
      *ngFor="let color of gameSequence"
      [color]="color"
      [Border]="Border"
      [width]="getDynamicSize() - (getDynamicSize() * 0.35)"
      [height]="getDynamicSize() - (getDynamicSize() * 0.35)">
    </app-box-color>
  </ng-template>
</div>
