<app-commands
  [IsPlay]="IsPlay"
  [EndGame]="EndGame"
  [countdown]="countdown"
  (startGame)="startGame()"
  (resetGame)="RestGame()"
  (resetPlayerSequence)="ResetPlayerSequence()"
  (checkSequence)="IsGood()"
></app-commands>

<app-score
  [countdown]="countdown"
  [message]="message"
  [score]="score"
></app-score>


<div class="border-2 border-sky-500 p-5 grid gap-4 boxPlay" [ngStyle]="{
  'grid-template-columns': 'repeat(' + getColumnCount() + ', 1fr)'
}">

  <ng-container *ngIf="StartAnswers; else memorizeSequence">
    <app-box-color

      *ngFor="let color of randomizedSequence"
      (click)="handlePlayerClick(color)"
      [color]="color"
      [Border]="Border"
      [width]="getDynamicSize() - (getDynamicSize() * 0.35)"
      [height]="getDynamicSize() - (getDynamicSize() * 0.35)"
      [isRandomized]="true"
      [playerSequence]="gameService.playerSequence"

    >
    </app-box-color>
  </ng-container>

  <ng-template #memorizeSequence>
    <app-box-color
      *ngFor="let color of gameSequence"
      [color]="color"
      [Border]="Border"
      [width]="getDynamicSize() - (getDynamicSize() * 0.35)"
      [height]="getDynamicSize() - (getDynamicSize() * 0.35)">
    </app-box-color>
  </ng-template>
</div>
